

<%- include ../partials/head.ejs %>

<%- include ../partials/menu.ejs %>

<main class="container">

    <div class="row">
        <div style="margin-left:35%; margin-right:35%;">
            <div class="section-title">
                <h2>Add<span> Contact</span></h2>
            </div>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the contact name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Email Id</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter email address"
                    name="email" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter the contact number"
                    name="contact" required>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
                
                    <a href="/contact-list" class="btn btn-warning">Cancel</a>

            </form>
        </div>
    </div>


</main>


<%- include ../partials/script.ejs %>